<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/index.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('header') %>
    <header>
      <h1>Featured</h1>
    </header>
    <main>
      <h1>Listings</h1>
      <form action="/" method="POST">
        <label for="brand">Filter Listings by:</label>
        <input type="text" name="brand" placeholder="Enter a brand name" />
        <label for="">Select a price range:</label>
        <input type="text" name="minPrice" placeholder="Enter a minimum price" />
        <input type="text" name="maxPrice" placeholder="Enter a maximum price" />
        <button type="submit">Search</button>
      </form>
      <div class="listings">
        <%if (typeof errorMessage != "undefined") { %>
        <div style="color: red">Error listing info does not exist</div>
        <% } else { %> <% for (row of rows) { %>
        <div class="listing">
          <h2><%= row.brand %></h2>
          <div class="upperLeftSide">
            <div class="imageContainer">
              <img src="<%= row.thumbnail_photo_url %>" />
            </div>
            <!-- <div class="upperRightSide">
            </div> -->
            <div class="middleOfListing">
              <div class="leftSideMiddleOfListing">
                <p>Year: <%= row.year %></p>
                <h2>Price: $<%= row.price %></h2>
              </div>
              <p class="viewListing">Click here to view!</p>
            </div>
          </div>
          <div class="lowerLeftSide">
            <p>
              Description: Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Voluptate id fuga rem sed minima harum eius explicabo,
              assumenda doloremque officiis soluta accusantium beatae quis,
              iusto perspiciatis corrupti eum velit fugiat.
            </p>
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
