<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/show-listings.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

  </head>

  <body>
    <%- include('header') %>
    <div class = 'main-layout'>
      <div>
    <h1><%= listing.year %> <%= listing.brand %> <%= listing.make %></h1>
  </div>
      <div>
      <img class="thumbnail" src="<%= listing.thumbnail_photo_url %>" >
      <div>
      <p>Colour: <%= listing.color %></p>
      <p>Transmission: <%= listing.transmission %></p>
      <p>Price: <%= listing.price %></p>
      <p>Description: <%= listing.description %><p>
      </div>
    </div>
    <a class="mailto" href="mailto:<%listing.email%>">Contact Seller</a>
    </div>
    <br>

      </div>
    </form>
  </body>
</html>
