<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/show-listings.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

  </head>

  <body>
    <%- include('header') %>

    <div class="display-page" >
      <div class="display-listing">
        <h1><%= listing.year %> <%= listing.brand %> <%= listing.make %></h1>
        <img class="thumbnail" src="<%= listing.thumbnail_photo_url %>" >
        <div class="listing-font">
          <p><b>Colour:</b> <%= listing.color %></p>
          <p><b>Transmission:</b> <%= listing.transmission %></p>
          <p><b>Price:</b> $<%= price %></p>
          <p><b>Description:</b> <%= listing.description %><p>
        </div>

      </div>

      <div class="contact-seller-forms">
        <div class="email-seller-form">
          <h2>Email The Seller</h2>
          <p>Send an email to <%= listing.name %> by clicking the button below.</p>
          <button class="mailto-button" onclick="location.href='mailto:<%=listing.email%>?subject=In%20regards%20to%20your%20listing&body=I%20would%20like%20more%20information%20about%20your%20<%=listing.brand%>%20<%=listing.make%>.'">
            Email Seller
          </button>
        </div>

        <div class="text-seller-form" >
          <h2 class="text-seller-heading">Text The Seller</h2>
          <p>Send an SMS to <%= listing.name %> by typing a message and then clicking the button below. Please ensure you provide your phone number so they can contact you back.</p>


            <div>
              <form method="POST" action="/sms">

              <div >
                <input class="user-number-textarea"
                  type="text"
                  id="userNumber"
                  class="form-input"
                  name="userNumber"
                  placeholder="Your Phone Number"
                />
              </div>

              <div>
                <input class="user-message-textarea"
                  type="text"
                  id="message"
                  class="form-input"
                  name="text"
                  placeholder="Message"
                />
              </div>

                <input
                  type="hidden"
                  name="number"
                  value="<%= listing.phone_number %>" />

               <div>
                 <input type="submit" class="btn" value="send" />
              </div>

            </form>

         </div>

        </div>
        </div>

    <br>

  </body>
</html>
